* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

:root {
  --ggs: .6; }

i {
  display: inline-block !important; }

main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.iphone-12 {
  width: 46.5vh;
  height: 93.5vh;
  position: relative; }
  .iphone-12 .buttons .sound-off {
    -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5) inset;
            box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5) inset;
    background: #fd4949;
    background: linear-gradient(144deg, #fd4949 0%, #bd2121 100%);
    width: 10px;
    height: 35px;
    position: absolute;
    top: 15vh;
    left: -5px;
    border-radius: 2px; }
  .iphone-12 .buttons .volume-up {
    -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5) inset;
            box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5) inset;
    background: #fd4949;
    background: linear-gradient(144deg, #fd4949 0%, #bd2121 100%);
    width: 10px;
    height: 55px;
    position: absolute;
    top: 22vh;
    left: -5px;
    border-radius: 2px; }
  .iphone-12 .buttons .volume-down {
    -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5) inset;
            box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5) inset;
    background: #fd4949;
    background: linear-gradient(144deg, #fd4949 0%, #bd2121 100%);
    width: 10px;
    height: 55px;
    position: absolute;
    top: 30.4vh;
    left: -5px;
    border-radius: 2px; }

.phone-front {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fd4949;
  -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5) inset;
  border-radius: 65px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .phone-front .antenna {
    background-color: #fd7676;
    width: 100%;
    height: .5em;
    position: absolute;
    left: 0;
    z-index: -1; }
    .phone-front .antenna.antenna-1 {
      top: 5em; }
    .phone-front .antenna.antenna-2 {
      bottom: 5em; }
  .phone-front .antenna-vertical {
    background-color: #fd7676;
    width: .5em;
    height: 50%;
    position: absolute;
    z-index: -1; }
    .phone-front .antenna-vertical.antenna-v-1 {
      top: 0;
      right: 6em; }
    .phone-front .antenna-vertical.antenna-v-2 {
      bottom: 0;
      left: 6em; }
  .phone-front .border {
    width: 97.5%;
    height: 98.5%;
    background-color: #000004;
    border-radius: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .phone-front .border .screen {
      position: relative;
      width: 93.5%;
      height: 97%;
      border-radius: 49px;
      background: #563641;
      background: linear-gradient(75deg, #563641 0%, #2a232c 100%);
      overflow: hidden; }
      .phone-front .border .screen:hover .screen-2 {
        top: -2000px;
        -webkit-transition: all 1.6s;
        transition: all 1.6s; }
      .phone-front .border .screen .notch {
        background-color: #000004;
        position: absolute;
        top: -5px;
        width: 50%;
        height: 3.7vh;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        left: 50%;
        -webkit-transform: translate(-50%);
                transform: translate(-50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 2; }
        .phone-front .border .screen .notch .speaker {
          width: 24%;
          height: 14%;
          border-radius: 50px;
          background-color: #202021;
          -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.37) inset;
                  box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.37) inset;
          margin-bottom: .4em; }
        .phone-front .border .screen .notch .camera {
          width: .65em;
          height: .65em;
          margin-left: .55em;
          border-radius: 100px;
          background-color: #1a1a22;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-bottom: .4em; }
          .phone-front .border .screen .notch .camera .lens-1 {
            width: .3em;
            height: .3em;
            border-radius: 50px;
            background: #7b95ff;
            background: linear-gradient(144deg, #7b95ff 0%, black 48%, #7b95ff 100%); }

.screen-1 {
  width: 100%;
  height: 100%;
  border-radius: 49px;
  background: rgba(0, 0, 0, 0.082);
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .screen-1 .ipod-battery {
    background-color: white;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: .2em 1.5em;
    border-radius: 100px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 9%; }
    .screen-1 .ipod-battery span {
      font-size: .6rem; }
    .screen-1 .ipod-battery span:first-child {
      font-weight: 700; }
    .screen-1 .ipod-battery span:last-child {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .screen-1 .album-cover {
    margin-top: 2.5%;
    width: 88%;
    height: 40%;
    background-color: black;
    background-image: url("../img/cover.jpg");
    background-size: contain;
    background-position: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 20px #00000045;
            box-shadow: 0px 10px 20px #00000045; }
  .screen-1 .media-player {
    margin-top: 7%;
    width: 88%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .screen-1 .media-player .song-name {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .screen-1 .media-player .song-name .name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        color: #FEFEFF;
        font-size: .9rem; }
        .screen-1 .media-player .song-name .name strong {
          font-weight: 600; }
        .screen-1 .media-player .song-name .name span {
          color: rgba(255, 255, 255, 0.473);
          font-size: .8rem; }
      .screen-1 .media-player .song-name section {
        color: #FEFEFF;
        padding: 8px;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.12);
        cursor: pointer; }
    .screen-1 .media-player .song-time {
      margin-top: 6%;
      /* Mouse-over effects */
      /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ }
      .screen-1 .media-player .song-time .slider {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        width: 100%;
        height: 2px;
        background: rgba(255, 255, 255, 0.527);
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        -webkit-transition: opacity .2s;
        transition: opacity .2s; }
      .screen-1 .media-player .song-time section {
        font-size: .6rem;
        color: rgba(255, 255, 255, 0.25);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: .2rem; }
      .screen-1 .media-player .song-time .slider:hover {
        opacity: 1; }
      .screen-1 .media-player .song-time .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 5px;
        height: 5px;
        background: #FEFEFF;
        border-radius: 30px;
        cursor: pointer; }
      .screen-1 .media-player .song-time .slider::-moz-range-thumb {
        width: 5px;
        height: 5px;
        background: #FEFEFF;
        border-radius: 30px;
        cursor: pointer; }
    .screen-1 .media-player .volume-slider {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 20%;
      /* Mouse-over effects */
      /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ }
      .screen-1 .media-player .volume-slider i {
        color: rgba(255, 255, 255, 0.527); }
        .screen-1 .media-player .volume-slider i:first-child::after {
          display: none; }
      .screen-1 .media-player .volume-slider .slider {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        width: 100%;
        margin-left: 4%;
        margin-right: 2%;
        height: 2px;
        background: rgba(255, 255, 255, 0.527);
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        -webkit-transition: opacity .2s;
        transition: opacity .2s; }
      .screen-1 .media-player .volume-slider .slider:hover {
        opacity: 1; }
      .screen-1 .media-player .volume-slider .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 14px;
        height: 14px;
        background: #FEFEFF;
        border-radius: 30px;
        cursor: pointer; }
      .screen-1 .media-player .volume-slider .slider::-moz-range-thumb {
        width: 10px;
        height: 10px;
        background: #FEFEFF;
        border-radius: 30px;
        cursor: pointer; }
    .screen-1 .media-player .bottom-icons {
      margin-top: 20%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .screen-1 .media-player .bottom-icons i {
        color: rgba(255, 255, 255, 0.32);
        --ggs:.85;
        -webkit-transition: all .3s;
        transition: all .3s; }
        .screen-1 .media-player .bottom-icons i:hover {
          color: rgba(255, 255, 255, 0.52);
          cursor: pointer;
          -webkit-transition: all .3s;
          transition: all .3s; }
    .screen-1 .media-player .controls {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 15%;
      color: #fff; }
      .screen-1 .media-player .controls i {
        --ggs:2.5; }
    .screen-1 .media-player .tylor-ipad {
      margin-top: 3%;
      color: rgba(255, 255, 255, 0.32);
      font-size: .65rem;
      font-weight: 600;
      margin-left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      text-align: center; }
  .screen-1 .navigation-bar {
    width: 35%;
    height: 4px;
    background-color: #FEFEFF;
    border-radius: 20px;
    margin-bottom: 2%; }

.screen-2 {
  width: 100%;
  height: 100%;
  border-radius: 49px;
  background-image: url("/img//locks.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1.6s;
  transition: all 1.6s; }
  .screen-2 .gg-lock-unlock {
    color: 2;
    margin-top: 13%;
    color: #FEFEFF;
    --ggs:1.2; }
  .screen-2 .clock {
    margin-top: 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FEFEFF; }
    .screen-2 .clock h1 {
      font-size: 4rem;
      font-weight: 300; }
    .screen-2 .clock span {
      font-size: 1.15rem; }
  .screen-2 .notification {
    width: 95%;
    border-radius: 10px;
    padding: .6rem;
    margin-top: 7%;
    position: relative;
    overflow: hidden; }
    .screen-2 .notification .notification-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.626);
      -webkit-filter: blur(10px);
              filter: blur(10px);
      z-index: -1; }
    .screen-2 .notification .header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .screen-2 .notification .header section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .screen-2 .notification .header section span {
          margin-left: .5rem;
          font-size: .7rem; }
      .screen-2 .notification .header span {
        font-size: .7rem; }
      .screen-2 .notification .header .red-icon {
        color: #FEFEFF;
        background-color: red;
        border-radius: 6px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 18px;
        height: 18px; }
    .screen-2 .notification .body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      margin-top: .5rem; }
      .screen-2 .notification .body span, .screen-2 .notification .body strong {
        font-size: .89rem; }

.phone-back {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 50px #0000008c;
          box-shadow: 0px 0px 50px #0000008c;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 65px; }

.gg-battery {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  width: 25px;
  height: 12px;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  border: 1px solid gray;
  border-radius: 3px;
  margin-left: -3px;
  margin-top: 1px; }

.gg-battery::after,
.gg-battery::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 8px;
  border-radius: 2px;
  background: currentColor;
  top: 1px;
  background-color: gray; }

.gg-battery::before {
  right: -4px;
  border-radius: 3px;
  width: 2px;
  background-color: #adadad; }

.gg-battery::after {
  width: 5px;
  left: 1px;
  background-color: #f32c2c; }

.gg-play-pause {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  width: 8px;
  height: 10px;
  border-left: 3px solid;
  border-right: 3px solid;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer; }
  .gg-play-pause:hover {
    -webkit-transform: scale(3.1);
            transform: scale(3.1);
    -webkit-transition: all .3s;
    transition: all .3s; }

.gg-play-forwards {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  height: 10px;
  background: currentColor;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer; }
  .gg-play-forwards:hover {
    -webkit-transform: scale(3.1);
            transform: scale(3.1);
    -webkit-transition: all .3s;
    transition: all .3s; }

.gg-play-forwards::after,
.gg-play-forwards::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 7px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 7px solid;
  left: -7px; }

.gg-play-forwards::before {
  left: -13px; }

.gg-play-backwards {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  height: 10px;
  background: currentColor;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer; }
  .gg-play-backwards:hover {
    -webkit-transform: scale(3.1);
            transform: scale(3.1);
    -webkit-transition: all .3s;
    transition: all .3s; }

.gg-play-backwards::after,
.gg-play-backwards::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 7px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 7px solid;
  right: -7px; }

.gg-play-backwards::before {
  right: -13px; }

.gg-volume {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  width: 8px;
  height: 8px;
  border: 1px solid;
  border-right: 0;
  -webkit-perspective: 12px;
  perspective: 12px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.gg-volume::after,
.gg-volume::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute; }

.gg-volume::before {
  left: 2px;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-left: 0;
  top: -3px; }

.gg-volume::after {
  width: 8px;
  height: 16px;
  border: 3.5px double;
  border-left: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  right: -14px;
  top: -6px; }

.gg-media-podcast {
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1)); }

.gg-media-podcast,
.gg-media-podcast::after,
.gg-media-podcast::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  border: 2px solid;
  border-bottom-color: transparent;
  border-radius: 50%; }

.gg-media-podcast::after,
.gg-media-podcast::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px; }

.gg-media-podcast::after {
  width: 22px;
  height: 22px;
  top: -6px;
  left: -6px; }

.gg-play-list-add {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  width: 12px;
  height: 6px;
  border-top: 0 solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-box-shadow: inset 0 -2px 0, -2px 4px 0 -2px, 0 -2px 0 0;
          box-shadow: inset 0 -2px 0, -2px 4px 0 -2px, 0 -2px 0 0; }

.gg-play-list-add::after,
.gg-play-list-add::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  top: 6px;
  right: -8px; }

.gg-play-list-add::before {
  width: 2px;
  height: 10px;
  top: 2px;
  right: -4px; }

.gg-comment {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 20px;
  height: 16px;
  border: 2px solid;
  border-bottom: 0;
  -webkit-box-shadow: -6px 8px 0 -6px, 6px 8px 0 -6px;
          box-shadow: -6px 8px 0 -6px, 6px 8px 0 -6px; }

.gg-comment::after,
.gg-comment::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 8px; }

.gg-comment::before {
  border: 2px solid;
  border-top-color: transparent;
  border-bottom-left-radius: 20px;
  right: 4px;
  bottom: -6px;
  height: 6px; }

.gg-comment::after {
  height: 2px;
  background: currentColor;
  -webkit-box-shadow: 0 4px 0 0;
          box-shadow: 0 4px 0 0;
  left: 4px;
  top: 4px; }

.gg-lock-unlock {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  width: 12px;
  height: 6px;
  border: 2px solid;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom: transparent;
  margin-top: -18px;
  margin-left: -2px; }

.gg-lock-unlock::after,
.gg-lock-unlock::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute; }

.gg-lock-unlock::after {
  border: 2px solid transparent;
  -webkit-box-shadow: 0 0 0 2px;
          box-shadow: 0 0 0 2px;
  background-color: #fff;
  width: 16px;
  height: 10px;
  border-radius: 2px;
  left: -4px;
  top: 10px; }

.gg-lock-unlock::before {
  width: 2px;
  height: 6px;
  background: currentColor;
  left: -2px;
  top: 4px; }

/*# sourceMappingURL=style.css.map */